*{
  font-family: 'Open Sans', sans-serif;
}

.contenu{
  border: none;
  max-width: 1200px;
  margin: 0 auto;
}

.contenu-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  margin-left: 50px;
}

h2{
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-right: -30px;
}

.social-icon i {
 margin-left: -80px;
  font-size: 20px;
  color: gray;
}


.container {
  max-width: 1200px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  margin: 0 50px;
  padding-bottom: 100px;
}
.navbar {
  background-color: #0bb5f4; 
  display: flex;
  align-items: center;
  padding: 70px;
  position: relative;
}
.image img{
  margin-top: -70px;
  width: 100px;
  height: 200px;
}

img{
  position: absolute;
  height: 175px;
  width: 100px;
  border: 5px solid #ffffffc9;
  margin-top: 100px;
  object-fit: cover;
  z-index: 1;
}


.nom {
  margin-left: 250px;
}

.nom h1 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

.nom em {
  font-style: italic;
  color: #fff;
  font-size: 1.5rem;
  margin-top: -50px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  margin-top: 10px;
  border-radius: 100px;
  color: #0e0d0d;
  font-size: 14px;
  cursor: pointer;
}

#downloadButton {
  background-color: #fff;
}

#greenButton {
  background-color: #05f23d;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.info h1{
  font-size: 1.5rem;
  margin-left: 20px;
}
.label, .value {
  display: inline-block;
  margin-right: 150px;
}

.value{
  margin-right: -120px;
}

.info-item .value .phone{
  margin-left: -50px;
}

.info-item .value .adresse{
  margin-right: -150px;
}

.details {
  margin-top: 40px;
  margin-right: 140px;
}

.info-item {
  display: flex;
  margin-bottom: 20px;
}

p {
  margin-left: 20px;
}


.comp{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.langue, .frame {
  display: flex;
  flex-direction: column;
  align-items: justify;
  margin-left: 20px;
}

.p6 {
  margin-bottom: 10px;
  margin-left: 0px;
}

#progress{
  background: gray;
  border-radius: 5px;
  height: 15px;
  width: 100%;
}

#progress:after{
  content: '';
  display: block;
  background: #0bb5f4;
  width: 90%;
  height: 100%;
 border-radius: 5px;
}

#progress1{
  background: gray;
  height: 15px;
  width: 100%;
  border-radius: 5px;
}

#progress1:after{
  content: '';
  display: block;
  background: #0bb5f4;
  width: 50%;
  height: 100%;
  border-radius: 5px;
 
}

#progress2{
  background: gray;
  height: 15px;
  width: 95%;
  border-radius: 5px;
}

#progress2:after{
  content: '';
  display: block;
  background: #05f23d;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

#progress3{
  background: gray;
  height: 15px;
  width: 95%;
  border-radius: 5px;
}

#progress3:after{
  content: '';
  display: block;
  background: #05f23d;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}


.experience {
  padding: 10px;
}

.etude{
  padding: 10px;
}
.etude h1{
  font-size: 1.5rem;
  margin-left: 10px;
}

.experience-description ul li{
  margin-bottom: 15px;
}

.etude .experience-item{
  border-left: 5px solid #05f23d; 
}

.experience h1 {
  font-size: 1.5rem;
  margin-left: 10px;
}

.experience-item {
  border: 1px solid #ccc;
  border-left: 5px solid #0bb5f4;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  position: relative; 
}

.experience-item:before {
content: "";
position: absolute;
top: 16px;
left: -30px;
height: 6px;
width: 6px;
border-radius: 50%;
border: 2px solid #0bb5f4;
background-color: #0bb5f4;
}

.etude .experience-item:before{
border: 2px solid #05f23d;
background-color: #05f23d;
}

.experience-item:after {
content: "";
position: absolute;
left: -25px;
top: -5px;
height: 200px;
width: 1px;
background-color: gray;
}

.etude .experience-item:after {
  content: "";
  position: absolute;
  left: -25px;
  top: -5px;
  height: 185px;
  width: 1px;
  background-color: gray;
  }

.experience-title {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative; 
}

.experience-title:before {
  content: "";
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 25px;
  background-color: #0bb5f4;
}
 .etude .experience-title:before{
  background-color: #05f23d;
 }

.experience-date{
  margin-left: 20px;
}

.experience-description {
  margin-left: 20px;
  margin-top: 15px;
}



.contact-container {
  display: flex;
  gap: 50px;
}

.contacter {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
  margin-top: 40px;
  margin-left: 20px;
}

.formBox{
  margin-left: 20px;
}

.formBox .row50{
  display: flex;
  gap: 20px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox{
  width: 100%;
}

.inputBox input{
  border-radius: 5px;
  background-color: hsl(0, 50%, 99%);
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea{
  border-radius: 5px;
  background-color: hsl(0, 50%, 99%);
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  min-height: 100px;
}

.inputBox input[type="submit"]{
  background: #0bb5f4;
  color: #0e0d0d;
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  max-width: 100px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}


.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px 30px;
}

.contact-info .info-value{
  margin-top: 15px;
}

.info-label span {
  margin-right: -10px;
  font-weight: bold;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
}

.footer-social{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer-icon {
  margin-right: -30px;
}

.footer-icon i {
  align-items: center;
 margin-right: -220px;
  font-size: 20px;
  color: gray;
}

.copyright{
  padding-top: 30px;
  color: gray;
}


@media screen and (max-width:550px) {
  .contenu-social{
    display: flex;
    flex-direction: column;
  }
  
  .social-icon i {
  margin-left: 40px;
  }

}

@media screen and (max-width:845px){
  .image img{
    margin-top: -125px;
    width: 130px;
    height: 240px;
  }
  
  img{
    margin-left: -70px;
  }

  .nom h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width:785px){
  .navbar{
    padding: 50px;
  }

  .image img{
    margin-top: -105px;
    width: 100px;
    height: 200px;
  }
  
  img{
    margin-left: -50px;
  }
}

@media screen and (max-width:745px){
  .navbar{
    padding: 40px;
  }

  .image img{
    margin-top: -95px;
    width: 90px;
    height: 180px;
  }
  
  img{
    margin-left: -40px;
  }
}

@media screen  and (max-width:725px){
  .navbar{
    padding: 30px;
  }

  .image img{
    margin-top: -85px;
    width: 70px;
    height: 160px;
  }
  
  img{
    margin-left: -30px;
  }
}

@media screen  and (max-width:705px){
  .navbar{
    padding: 25px;
  }

  .image img{
    margin-top: -80px;
    width: 80px;
    height: 150px;
  }
  
  img{
    margin-left: -25px;
  }
}

@media screen  and (max-width:695px){
  .navbar{
    padding: 20px;
  }

  .image img{
    margin-top: -75px;
    width: 80px;
    height: 140px;
  }
  
  img{
    margin-left: -20px;
  }
}

@media screen  and (max-width:685px){
  .navbar{
    padding: 16px;
  }

  .image img{
    margin-top: -70px;
    width: 80px;
    height: 140px;
    border: none;
  }
  
  img{
    margin-left: -17px;
  }
}

@media screen  and (max-width:677px){
  .navbar{
    padding: 15px;
  }

  .image img{
    margin-top: -70px;
    width: 80px;
    height: 140px;
    border: none;
  }
  
  img{
    margin-left: -17px;
  }
}

@media screen  and (max-width:672px){
  .navbar{
    padding: 13px;
  }

  .image img{
    margin-top: -70px;
    width: 80px;
    height: 139px;
    border: none;
  }
  
  img{
    margin-left: -13px;
  }
}

@media screen  and (max-width:659px){
  .navbar{
    padding: 25px;
  }

  .nom h1{
    font-size: 1.3rem;
  }

  .image img{
    margin-top: -100px;
    width: 100px;
    height: 200px;
    border: none;
  }
  
  img{
    margin-left: -25px;
  }
}

@media screen  and (max-width:641px){
  .navbar{
    padding: 25px;
  }

  .nom h1{
    font-size: 1.2rem;
  }
}

@media screen  and (max-width:625px){
  .navbar{
    padding: 25px;
  }

  .nom h1{
    font-size: 1.1rem;
  }
}

@media screen  and (max-width:610px){
  .navbar{
    padding: 25px;
  }

  .nom h1{
    font-size: 1rem;
  }

  .image img{
    margin-top: -95px;
    width: 90px;
    height: 190px;
    border: none;
  }
}

@media screen  and (max-width:593px){
  .nom{
    margin-right: -20px;
  }
}

@media screen  and (max-width:573px){
  .navbar{
    padding: 33.5px;
  }

  .nom{
    margin-left: 125px;
  }

  .image img{
    margin-top: -85px;
    width: 90px;
    height: 170px;
    border: none;
  }
  
  img{
    margin-left: -35px;
  }
}

@media screen  and (max-width:567px){
  .navbar{
    padding: 33px;
  }

  .nom{
    margin-left: 200px;
  }


  .image img{
    margin-top: -105px;
    width: 110px;
    height: 210px;
    border: none;
  }
  
  img{
    margin-left: -35px;
  }
}

@media screen  and (max-width:539px){
  .nom{
    margin-left: 120px;
  }
}

@media screen  and (max-width:460px){
  .nom{
    margin-left: 100px;
  }
}

@media screen  and (max-width:440px){
  .nom{
    margin-left: 95px;
  }
}

@media screen  and (max-width:435px){
  .nom{
    margin-left: 80px;
  }
}

@media screen  and (max-width:418px){
  .navbar{
    padding: 35px;
  }

  .nom h1{
    font-size: 0.9rem;
  }

  .nom em{
    font-size: 1rem;
  }

  .nom{
    margin-left: 110px;
  }

  .buttons button {
    margin-top: 10px;
    font-size: 10px;
  }
}

@media screen  and (max-width:414px){
  .nom{
    margin-left: 110px;
  }

  .buttons button {
    font-size: 9px;
  }
}

@media screen  and (max-width:407px){
  .nom{
    margin-left: 110px;
  }

  .buttons button {
    font-size: 8.8px;
  }
}

@media screen  and (max-width:404px){
  .navbar{
    display: flex;
    flex-direction: column;
    gap: 200px 20px;
    padding: 50px;
  }

  .image img{
    width: 100px;
    height: 200px;
    margin-top: -30px;
    margin-left: -50px;
  }
  .nom{
    margin-left: -25px;
  }
}

@media screen  and (max-width:1187px){
  .aboutme{
    display: flex;
    flex-direction: column;
  }

  .details{
    margin-left: 20px;
    margin-top: -40px;
  }
}

@media screen  and (max-width:543px){
  .value{
    margin-left: -50px;
  }
}

@media screen  and (max-width:495px){
  .aboutme .info-item{
    display: flex;
    flex-direction: column;
  }

  .aboutme .value{
    margin-left: 40px;
  }
}

@media screen and (max-width: 962px) {
    .experience-item:after {
    height: 165px;
    }
}

@media screen and (max-width: 897px) {
    .experience-item:after {
    height: 190px;
    }
}

@media screen and (max-width: 747px) {
  .experience-item:after {
  height: 200px;
  }
  .experience-title{
    font-size: 1rem;
  }
}

@media screen and (max-width: 709px) {
  .experience-item:after {
  height: 205px;
  }
  .experience-title{
    font-size: 0.9rem;
  }

  .experience-date .experience-description{
    font-size: 0.7rem;
  }

  .etude .experience-item:after{
    height: 350px;
  }
}

@media screen and (max-width: 672px) {
  .experience-item:before{
    top: 20px;
  }

  .etude .experience-item:before{
    top: 13px;
  }

  .etude .experience-item:after{
    height: 360px;
  }
}

@media screen and (max-width: 626px) {
  .experience-item:after{
    height: 220px;
  }

  .etude .experience-description ul li{
    font-size: 0.9rem;
  }

  .etude .experience-item:after{
    height: 350px;
  }
}

@media screen and (max-width: 586px) {
  .experience-item:after,
  .etude .experience-item:after{
    width: 0;
  }

  .experience-item:before,
  .etude .experience-item:before{
    border-radius: none;
    border: none;
    width: 0;
  }

  .experience-title:before{
    width: 0;
  }
}

@media screen and (max-width: 357px) {
  .experience .experience-description ul li{
    margin-left: -25px;
  }
}

@media screen and (max-width: 334px) {
  .experience h1,
  .etude h1{
    font-size: 1.5rem;
  }

  .experience-item{
    margin-left: -8px;
  }
  .experience .experience-description ul li,
  .etude .experience-description ul li{
    margin-left: -25px;
  }

  .etude .experience-description ul li{
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px){
  .comp{
    display: flex;
    flex-direction: column;
  }

  .langue .progress{
    width: -80%;
  }
}

@media screen and (max-width: 938px){
  .contact-container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 815px){
 .formBox{
  margin-left: 20px;
  margin-right: 20px;
 }

 .contact-info{
  margin-left: 20px;
 }
}

@media screen and (max-width: 665px){
  .formBox .row50{
    display: flex;
    flex-direction: column;
    width: 200%;
  }
  .inputBox input[type="submit"]{
    padding: 7px 8px;
  }
}

@media screen and (max-width: 370px){
  .info-item .value{
    margin-left: 10px;
  }
}