body {
    margin: 0;
    padding: 0;
  }

  .container {
      border: 2px solid #333;
      padding: 20px;
      margin: 20px;
      max-width: 900px;
      height: 200vh;
      margin: 0 auto;
      font-family: Arial, sans-serif;
      position: relative;
  }

.title{
    border: 2px solid #333;
    background-color: #e4e414;
    padding: 30px;
    margin: 30px;
    margin-left: -20px;
    margin-right: -20px;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: right;
    font-size: 1.5rem;
}
.nam{
    color: white;
    margin-right: 65px;
    text-align: right;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link{
    display: flex;
    justify-content: right;
}
.link, a{
    align-content: space-between;
    font-size: 0.9rem;
    color: aliceblue;
    margin-right: 30px;
}
.lien1{
    margin-right: 120px;
    text-decoration: none;
}
.lien2{
    margin-right: -30px;
    text-decoration: none;
}
.contain{
    position: absolute;
  top: 0;
  left: 50px;
  height: 500vh;
  width: 500px;
  background-color: hsl(249, 100%, 50%);
}

.img{
    margin-bottom: -10px;
    /* border-radius: 500px; */
    width: 150px;
    height: 300px;
}
img{
     margin-top: -10%;
    clip-path:ellipse(50% 25%);
    margin-left: 150px;
}

.contact{
    border: solid black;
    background-color: black;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
}
h5{
    color: aliceblue;
    text-align: center;
}
.cont{
    text-align: center;
    color: aliceblue;
    font-size: 0.9rem;
}

.competence{
  border: solid black;
  background-color: black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.skill {
  background-color: #f2f2f2;
  padding: 20px;

}

.progress-bar {
  background-color: #e0e0e0;
  height: 10px;
  margin-top: 10px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
}

button{
  margin-top: 10px;
}



