.contenu{
  border: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
}

.contenu-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  margin-left: 50px;
}

h2{
  color: gray;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 50px;
}

.social-icon i {
  font-size: 30px;
  color: gray;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  margin: 0 50px;
}
.navbar {
  background-color: hwb(226 5% 9%); 
  display: flex;
  align-items: center;
  padding: 70px;
  position: relative;
}
.image img{
  margin-top: -70px;
  width: 100px;
  height: 200px;
}

img{
  position: absolute;
  height: 175px;
  width: 100px;
  border: 5px solid #ffffffc9;
  margin-top: 100px;
  object-fit: cover;
  z-index: 1;
}


.nom {
  margin-left: 250px;
}

.nom h1 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

.nom em {
  font-style: italic;
  color: #fff;
  font-size: 1.5rem;
  margin-top: -50px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  margin-top: 10px;
  border-radius: 100px;
  color: #0e0d0d;
  font-size: 14px;
  cursor: pointer;
}

#downloadButton {
  background-color: #fff;
}

#greenButton {
  background-color: #28a745;
}

.aboutme {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}

p{
  width: 40%;
  font-size: 1.1rem;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: justify;
}

.info {
  flex: 1;
  padding: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.info-item {
  display: flex;
  font-size: 1rem;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-left: 200px;
}

.value {
  font-style: italic;
  margin-right: 50px;
}


.competence {
  margin-left: 15px;
}

.langages, .frameworks {
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
}
.frameworks{
  margin-left: 250px;
}

.competence-item {
  margin-bottom: 15px;
}

.progress-bar {
  background-color: #f2f2f2;
  height: 20px;
  width: 150%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  border-radius: 10px;
}
span{
  text-align: justify;
}



.experience {
  padding: 10px;
}

.etude{
  padding: 10px;
}
.etude h1{
  margin-left: 10px;
}

.etude .experience-item{
  border-left: 5px solid green; 
}

.experience h1 {
  margin-left: 10px;
}

.experience-item {
  border: 1px solid #ccc;
  border-left: 5px solid #0bb5f4;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  position: relative; 
}

.experience-item:before {
content: "";
position: absolute;
top: 13px;
left: -30px;
height: 6px;
width: 6px;
border-radius: 50%;
border: 2px solid #0bb5f4;
background-color: #0bb5f4;
}

.etude .experience-item:before{
border: 2px solid green;
background-color: green;
}

.experience-item:after {
content: "";
position: absolute;
left: -25px;
top: -5px;
height: 148px;
width: 1px;
background-color: gray;
}

.etude .experience-item:after {
  content: "";
  position: absolute;
  left: -25px;
  top: -5px;
  height: 326px;
  width: 1px;
  background-color: gray;
  }

.experience-title {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative; 
}

.experience-title:before {
  content: "";
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 25px;
  background-color: #0bb5f4;
}
 .etude .experience-title:before{
  background-color: green;
 }

.experience-date{
  margin-left: 20px;
}

.experience-description {
  margin-left: 20px;
  margin-top: 15px;
}



.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

h1 {
  margin-left: 20px;
}

.contact-form {
  margin-bottom: 20px;
  margin-right: 400px;
}

.name-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name-field div {
  flex-basis: 48%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.info-row {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
}

.info-value {
  margin-left: 10px;
}







@media (max-width: 480px) { 
  .name {
    margin-left: 20px;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  .social-icon {
    margin-right: 20px;
  }
  
  .social-icon i {
    font-size: 20px;
  }

  .navbar {
    padding: 20px;
  }
  
  .image img {
    margin-top: -100px;
    margin-left: -50px;
    width: 90px;
    height: 191px;
  }
  
  img {
    height: 100px;
    width: 100px;
    margin-top: 40px;
  }
  
  .nom {
    margin-left: 60px;
  }
  
  .nom h1 {
    font-size: 1rem;
  }
  
  .nom em {
    font-size: 1rem;
    margin-top: -25px;
  }
  
  .buttons button {
    padding: 4px 8px;
    font-size: 10px;
  }

  .aboutme {
    flex-direction: column;
  }
  
  p {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 250px;
  }

  .info-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .etude .experience-item:after {
      height: 410px;
  }
  .etude li{
      font-size: 0.8rem;
  }

  .experience .experience-item:after {
      height: 255px;
  }
  .experience-item:before {
      top: 22px;    
  }
  

  .contact-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-container .contact-info{
    margin-right: 150px;
  }
  input[type="text"],
  input[type="email"],
  textarea
  {
    width: 140%;
  }
  .contact-container .name-field {
    gap: 100px;
  }
  .contact-container .name-field div {
    width: 65px;
  }
}


@media (max-width: 320px) {
  .name {
    margin-left: 20px;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  .social-icon {
    margin-right: 20px;
  }
  
  .social-icon i {
    font-size: 20px;
  }

  .navbar {
    padding: 0px;
  }
  
  .image img {
    margin-top: -133px;
    margin-left: -50px;
    width: 90px;
    height: 268px;
    border: none;
  }
  
  img {
    height: 200px;
    width: 200px;
    margin-top: 40px;
  }
  
  .nom {
    margin-left: 60px;
  }
  
  .nom h1 {
    font-size: 10px;
  }
  
  .nom em {
    font-size: 0.5rem;
    margin-top: -25px;
  }
  
  .buttons button {
    padding: 2px 4px;
    font-size: 8px;
  } 

  .aboutme {
    flex-direction: column;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 350px;
  }

  .info h1{
    font-size: 1rem;
  }

  .info-item{
    display: flex;
    flex-direction: column;
  }
  
  .competence h1{
    margin-left: 10px;
    font-size: 1.5rem;
  }
  .competence .label{
    font-size: 0.7rem;
  }

  .experience .experience-item:before {
    top: 50px;
  }
  .experience-title {
      font-size: 0.8rem;
  }
  .experience-date{
      font-size: 0.8rem;
  }

  .experience ul li{
      margin-left: -40px;
      font-size: 0.8rem;
  }
    
  .experience .experience-item:after {
    height: 400px;
  }

  .etude .experience-item:after {
      height: 372px;
  }
  .etude .experience-item:before {
      top: 13px;
  }
  .etude ul li{
      font-size: 0.5rem;
      font-weight: bold;
      margin-left: -50px;
  }

  

  .contact-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-container .contact-info{
    margin-left: 150px;
  }
  .contact-container .contact-form textarea{
    height: 75px;
    width: 150px;
    margin-left: 90px;
  }
  
  .contact-container .contact-form .name-field{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 150%;
    gap: 10px 10px;
  }
}


@media screen and (max-width:768px) {
  .contenu-social{
    display: flex;
    flex-direction: column;
  }
  .social-icons {
    margin-left: 20px;
  }

  .navbar{
    padding: 50px;
  }
  .nom h1{
    font-size: 1.2rem;
  }
  .nom em{
    font-size: 0.95rem;
  }
  img{
    margin-top: 50px;
  }

  .aboutme {
    flex-direction: column;
    align-items: center;
  }
  
  p {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .details {
    padding-top: 10px;
    margin-right: 350px;
  }
  
  .label {
    margin-left: 0;
    margin-bottom: 5px;
  }
  
  .value {
    margin-right: 0;
  }

  .competence{
    display: flex;
    flex-direction: column;
  }
  .competence .frameworks{
    margin-left: 5px;
  }
  .competence .progress-bar {
    width: 95%;
  }

  .experience-item:after {
      height: 185px;
  }

  .contact-container .contact-form{
    margin-right: 100px;
  }
}




@media (max-width: 1024px) {
  .langages, .frameworks {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
  }
  
  .progress-bar {
    height: 10px;
    width: 130%;
  }

  .contact-container .contact-form{
    margin-left: 10px;
  }
  .contact-container .contact-info .info-row{
    display: flex;
    flex-direction: column;
    /*margin-right: 100px;*/
  }
  .name-field {
    gap: 20px;
  }
  .name-field div {
    flex-basis: 75%;
  }
}
